# --- Flutter / Dart ---
.dart_tool/
.packages
.pub/
build/

# --- IDEs ---
.idea/
*.iml
.vscode/

# --- macOS ---
.DS_Store

# --- Android ---
android/.gradle/
android/app/build/
android/local.properties
**/*.jks
android/key.properties

# --- iOS ---
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/.last_build_id
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
**/*.xcuserstate

# --- logs ---
*.log
